:root {
    --background-color: #f2f2f2;
    --text-border-color: #333;
    --element-bg-color: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --input-border-color: #ccc;
    --button-color: white;
    --button-active-color: #0000FF;
    --table-border-color: #ddd;
    --table-alt-row-color: #D6EEEE;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #111;
        --text-border-color: #eee;
        --element-bg-color: #333;
        --box-shadow-color: rgba(255, 255, 255, 0.1);
        --input-border-color: #555;
        --button-color: #222;
        --button-active-color: #0000B2;
        --table-border-color: #555;
        --table-alt-row-color: #404747;
    }
}

body {
    /* Basic Styling */
    background-color: var(--background-color);
    color: var(--text-border-color);
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    /* Flexbox */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    align-content: start;
}

header {
    margin-top: 1em;
    background-color: var(--text-border-color);
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

footer {
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0.5em;
    width: 100%;
	height: 5%;
    background-color: var(--text-border-color);
    text-align: center;
}

h3:not(:first-child) {
    margin-top: 2em;
}

.base {
    flex: 1;
    margin: 0.5em;
    padding: 1em;
    background-color: var(--element-bg-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
    border-radius: 5px;
}

.container_base {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container_base > * {
    flex: 1;
    margin: 0.5em;
}

section:not(.base) {
    width: 40%;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    transition: border-color 0.3s ease;
    outline: none;
}

input[type="text"]:focus {
    border-color: #4CAF50;
}

.button {
    border: none;
    color: var(--button-color);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.swapBtn.active {
	background-color: var(--button-active-color);
	border: 1px solid var(--button-color);
	color: var(--button-color);
}

.swapBtn {
	background-color: var(--button-color);
	border: 1px solid var(--button-active-color);
	color: var(--button-active-color);
    margin-bottom: 8px;
}

.buttonGroup {
    display: flex;
    gap: 5px;
}

.buttonGroup button {
    width: 50%;
}

.buttonSearch {
    background-color: #4CAF50;
}

.buttonClear {
    background-color: #008CBA;
}

#resultTable {
    border-collapse: collapse;
    background-color: var(--element-bg-color);
    border: 1px solid var(--table-border-color);
    width: 50vw;
    min-width: 50vw;
}

#resultTable2 {
    border-collapse: collapse;
    background-color: var(--element-bg-color);
    border: 1px solid var(--table-border-color);
    width: 50vw;
    min-width: 50vw;
}

#table_footer_row {
    background-color: var(--element-bg-color);
    font-weight: 600;
    color: var(--text-border-color);
}

th, td {
    padding: 15px 10px;
}

tr:not(thead tr):nth-child(odd) {
    background-color: var(--table-alt-row-color);
}
