/* Define CSS variables for colour and styling options */
:root {
    --background-color: rgb(232, 232, 232);
    --text-border-color: rgb(51, 51, 51);
    --element-bg-color: rgb(255, 255, 255);
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --input-border-color: rgb(204, 204, 204);
    --button-color: rgb(255, 255, 255);
    --button-active-color: rgb(0, 0, 255);
    --table-border-color: rgb(225, 225, 225);
    --table-alt-row-color: rgb(214, 238, 238);
}

/* Define styles for dark mode using a media query */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(17, 17, 17);
        --text-border-color: rgb(238, 238, 238);
        --element-bg-color: rgb(51, 51, 51);
        --box-shadow-color: rgba(255, 255, 255, 0.1);
        --input-border-color: rgb(85, 85, 85);
        --button-color: rgb(34, 34, 34);
        --button-active-color: rgb(0, 140, 186);
        --table-border-color: rgb(85, 85, 85);
        --table-alt-row-color: rgb(64, 71, 71);
    }
}

/* Basic styling for the entire body of the pages */
body {
    /* General Styling */
    background-color: var(--background-color);
    color: var(--text-border-color);
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    /* Flexbox layout for body */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    align-content: start;
}

/* Styling for the page header */
header {
    margin-top: 1em;
    background-color: var(--text-border-color);
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
}

/* Styling for the page footer */
footer {
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0.5em;
    width: 100%;
	height: 5%;
    background-color: var(--text-border-color);
    text-align: center;
}

/* Styling for sub-headings (h3) */
h3:not(:first-child) {
    margin-top: 2em;
}

/* Base style for content sections */
.base {
    flex: 1;
    margin: 0.5em;
    padding: 1em;
    background-color: var(--element-bg-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
    border-radius: 5px;
}

/* Styling for containers using flex layout */
.container_base {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container_base > * {
    flex: 1;
    margin: 0.5em;
}

/* Styling for sections (with the exception of .base) */
section:not(.base) {
    width: 40%;
}

/* Styling for text input elements */
input[type="text"] {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid var(--input-border-color);
    border-radius: 5px;
    transition: border-color 0.3s ease;
    outline: none;
}

#option {
    width: 19.5%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid var(--input-border-color);
    border-radius: 5px;
    transition: border-color 0.3s ease;
    outline: none;
}

input[type="text"]:focus {
    border-color: rgb(76, 175, 80);
}

/* Styling for buttons */
.button {
    border: none;
    color: var(--button-color);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Styling for active (clicked) buttons */
.swapBtn.active {
	background-color: var(--button-active-color);
	border: 1px solid var(--button-color);
	color: var(--button-color);
}

/* Styling for buttons */
.swapBtn {
	background-color: var(--button-color);
	border: 1px solid var(--button-active-color);
	color: var(--button-active-color);
    margin-bottom: 8px;
}

/* Styling for button groups */
.buttonGroup {
    display: flex;
    gap: 10px;
}

/* Styling for button width within button groups */
.buttonGroup button {
    width: 50%;
}

/* Styling for the search button */
.buttonSearch {
    background-color: rgb(76, 175, 80);
}

/* Styling for the clear button */
.buttonClear {
    background-color: rgb(0, 140, 186);
}

/* Styling for tables displaying search results */
#resultTable, #resultTable2 {
    border-collapse: collapse;
    background-color: var(--element-bg-color);
    border: 3px solid var(--table-border-color);
    width: 50vw;
}

/* Styling for the footer row in tables */
#table_footer_row {
    background-color: var(--element-bg-color);
    font-weight: 600;
    color: var(--text-border-color);
}

/* Styling for table headers and table cells */
th, td {
    padding: 15px 10px;
}

/* Styling for alternating rows in tables (odd rows) */
tr:not(thead tr):nth-child(odd) {
    background-color: var(--table-alt-row-color);
}
